---
layout: default
title: Workshop
permalink: /workshop/
color: "#2c446e"
modal: workshop
---

 {% include top-section.html %}

<!-- Begin Team List-->
<section id="team" class="team">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>Storytelling and Organizing</h3>
      <p class="text-center animated hiding" data-animation="fadeInUp" data-delay="0">
        <q>Narratives do not simply inform organization members about the values,
            practices, and traditions to which their organization is committed. Rather,
            they help to constitute the organizational consciousness of social actors by
            articulating and embodying a particular reality</q><br />
        Mumby, 1987, p. 125
      </p>

      <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
        Thirty years ago Dennis Mumby (1987) positioned storytelling as the coin and currency of organizational life, and narrative theory as a meaningful way to understand organizing. This workshop will explore narrative as a theoretical frame, analytic material,
        representational form, and site of intervention in organizational communication scholarship. Facilitators will reflect on the promise and perils of storytelling in organizational communication scholarship. Participants will have hands-on opportunities
        to create and engage narrative artifacts. Workshop dialogue and activities will be informed by but not limited to the following questions:
        <br />
        <br />
        <ul class="text-left">
          <li>How does storytelling function in organizational communication scholarship?</li>
          <li>How can organizational communication researchers locate narrative sense-making in action?</li>
          <li>How can researchers create conditions for embodied and imaginative storytelling among participants?</li>
          <li>What does storytelling do for research participants?</li>
          <li>How can researchers anchor and shape analyses from a narrative perspective?</li>
          <li>How can researchers narratively represent the everyday sights, sounds, spaces, and experiences of organizing?</li>
          <li>How can research and creative activity shift and/or enlarge the storytelling resources of organizations?</li>
          <li>How can scholarship empower its participants to collaboratively explore and develop narratives to understand and navigate mundane and disruptive challenges?</li>
          <li>How can storytelling extend the reach of our work to general publics?</li>
        </ul>
      </p>

      <h5>Schedule</h5>
      <section class="schedule">
        <style>
          section p {
            padding-top: 1em;
          }
        </style>

        <p>
          <b>Registration</b><br />
          8:30 - 9:00<br />
          Location: Arts West<br />
          132 West State Street, Athens, OH 45701<br />
          Entirety of workshop is in this location<br />
          <a href="/assets/ARTSWestGoogleMaps.pdf">Map and Details</a>
        </p>

        <p>
          <b>Our Stories: Introduction of Workshop Facilitators</b><br />
          9:00 – 9:30
          <ul>
            <li>Brittany L. Peterson</li>
            <li>Josh B. Barbour</li>
            <li>Sarah J. Tracy</li>
            <li>Laura L. Ellingson</li>
            <li>Patrice M. Buzzanell</li>
            <li>Lynn M. Harter</li>
          </ul>
        </p>

        <p>
          <b>Locating Narrative Sensemaking and Storytelling in Action: Data Collection Tips and Techniques</b><br />
          9:30 – 11:00
          <ul>
            <li>Patrice M. Buzzanell</li>
            <li>Brittany L. Peterson</li>
            <li>Josh B. Barbour</li>
          </ul>
        </p>

        <p>
          <b>Break</b><br />
          11:00 – 11:15
        </p>

        <p>
          <b>Metaphors, Markers, and Meaning: Drawing as a creative way to trigger and analyze storytelling</b><br />
          11:15 – 12:15 pm
          <ul>
            <li>Sarah J. Tracy</li>
          </ul>
        </p>

        <p>
          <b>Lunch Provided</b><br />
          12:15 – 12:45
        </p>

        <p>
          <b>Embodying Stories, Storying Embodiment: Doing Data Analysis in and through Messy Bodies</b><br />
          12:45 – 1:45
          <ul>
            <li>Laura L. Ellingson</li>
          </ul>
        </p>

        <p>
          <b>Storytelling, Representation, and External Publics</b><br />
          1:45 – 2:30
          <ul>
            <li>Lynn M. Harter</li>
          </ul>
        </p>

        <p>
          <b>Wrapping Up… Reflections on Narratively-Inspired Engaged Scholarship</b><br />
          2:30 – 3:00
          <ul>
            <li>Brittany L. Peterson</li>
            <li>Josh B. Barbour</li>
            <li>Sarah J. Tracy</li>
            <li>Laura L. Ellingson</li>
            <li>Patrice M. Buzzanell</li>
            <li>Lynn M. Harter</li>
          </ul>
        </p>
      </section>

      <div class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
        <div class="col-lg-12">
          <h5>Workshop Facilitators:</h5>
        </div>

        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            {% for facilitator in site.data.workshop_facilitators %} {% assign loop_iteration = forloop.index0 | modulo:2 %} {% if loop_iteration == 0 %}
            <div class="row">
              {% endif %}

              <div class="col-lg-5">
                <p>
                  <b>{{ facilitator.name }}</b> {{ facilitator.institution }}</br>
                  <img src="/img/people/{{ facilitator.thumbnailUrl }}" height="200px" /></br>
                  {{ facilitator.bio }}
                </p>
              </div>

              {% if loop_iteration == 1 or forloop.last %}
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team List -->
