<section id="submit" class="speakers hidden">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row text-center">
              <h3 id="submit">Submit an Abstract</h3>
              <div class="col-md-offset-3 col-md-6 text-left">
                <p>
                  Advanced graduate students interested in presenting their work should submit their abstract by September 4, 2017 to <a href="mailto:ocmc2017@ohio.edu">ocmc2017@ohio.edu</a>.</br></br>

                  Each submission should include a title page and an abstract.</br></br>

                  The title page should include author name, institutional affiliation, current year in program, and whether or not you will be actively on the job market in the 17-18 academic year.</br></br>

                  The abstract should be approximately 500 words and formatted as a PDF file no larger than 20MB. Please give a sufficiently detailed description of your work and your methods so we can adequately assess its relevance. Each extended abstract will be reviewed by three Program Committee members. Note that abstracts longer than two pages will be automatically rejected.</br></br>

                  Priority will be given to graduate students who are currently on the job market.</br></br>

                  Students will be notified by email of acceptance or rejection on September 11th. Accepted abstracts will be invited to be considered for a paper or poster presentation.</br></br>
                </p>
                <h4>Any questions?</h3>
                <p>
                  If you have any questions, please contact us at <a href="mailto:ocmc2017@ohio.edu">ocmc2017@ohio.edu</a>.
                </p>
              </h4>
            </div>
        </div>
    </div>
</section>
